body {
  margin: 0;
  font-family: Arial;
  background: #f5f7ff;
}
header {
  background: #0d47ff;
  padding: 15px 40px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
}

nav .active {
  text-decoration: underline;
}

.container {
  display: flex;
  gap: 30px;
  padding: 40px;
}

.bill-card {
  background: white;
  padding: 25px;
  width: 450px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.bill-card h2 {
  margin-bottom: 20px;
  color: #0d47ff;
}

.bill-card label {
  font-weight: 600;
  margin-top: 10px;
  display: block;
}

.bill-card input,
.bill-card select {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 15px;
}

.pay-btn {
  width: 100%;
  padding: 14px;
  margin-top: 18px;
  background: #0072ff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  cursor: pointer;
  transition: .3s;
}

.pay-btn:hover {
  background: #3aa655;
}

.offers {
  flex: 1;
}

.offers h3 {
  background: #0072ff;
  padding: 12px;
  color: white;
  border-radius: 8px;
}

.offer-box {
  display: flex;
  background: white;
  margin-top: 20px;
  padding: 15px;
  border-radius: 12px;
  gap: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.08);
}

.offer-box img {
  width: 70px;
}

.offer-box h4 {
  margin: 0;
  color: #0d47ff;
}
