*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: #f3f6ff;
}

nav{
    background: #1e40af;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover{
    color: #ffe066;
}

.container{
    padding: 40px;
    text-align: center;
}

.hero{
    background: #1e3a8a;
    padding: 70px 20px;
    color: white;
    border-radius: 10px;
    margin: 30px auto;
    width: 80%;
}

.card-box{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.card{
    background: white;
    padding: 25px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 0 10px #d7d7d7;
}

.footer{
    text-align: center;
    padding: 15px;
    background: #1e40af;
    color: white;
    margin-top: 40px;
}
